#courseDiscussionPage{
    position: relative;
    max-width: calc(1200px);

    padding: 0em 0em 3em 0em;

    .addDiscussionButton{
        display: flex;
        justify-content: flex-end;
        margin: 3em 0em;
        button {
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            padding: 12px 36px;
            background-color: #FFEA79;
            color: black;
            font-size: 20px;
            font-weight: bold;
            border-radius: 4%;
      
            span {
              margin-left: 8px;
            }
        }
    }

    .discussion{
        background-color: #FFFFFF;
        border: solid 1px #474141;
        border-radius: 0.5em;
        padding: 1em 2em;
        .discussionTab{
            display: flex;
            .discussionTitle{
                width: 30%;
            }
            .discussionDiscription{
                width: 60%;
            }
            > p{
                margin: 0.5em 0em;
                font-size: 20px;
                font-weight: 600;
                white-space: nowrap;
            }
        }
    
        .discussionInfo{
            display: flex;
            align-items: center;
            cursor: pointer;
            
            .discussionTitle{
                cursor: pointer;
                width: 30%;
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .discussionDiscription{
                width: 63%;
            }
            > p{
                font-size: 18px;
                white-space: nowrap;
            }
        }

    }
    .editor {
        display: none;
    }

}