#discussionPage{
    position: relative;
    max-width: calc(1200px);

    .addDiscussionButton{
        display: flex;
        justify-content: flex-end;
        margin: 2em 0em;
        .buttonInfo{
            cursor: pointer;
            background-color: #d9d9d9;
            display: flex;
            font-size: large;
            font-weight: 600;
            padding: 0.6em 1em;
            .icon{
                margin-right: 0.5em;
                margin-top: 0.2em;
            }
            p{
                margin: 0em 0em;
                font-size: medium;
            }
        }
    }

    .discussionTab{
        display: flex;
        justify-content: space-between;
        font-size: medium;
        > p{
            font-size: larger;
            font-weight: 600;
            white-space: nowrap;
        }
    }

}