/* =================
@ react-quill
==================== */
#toolbar{
    //background-color: #474141;

    .ql-formats{
        color : #FFFFFF !important;
    }
    .quill .ql-toolbar  {
        background-color: aqua;
    }

    .submitButton{
        background-color:#FFEA79;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: small;
        font-weight: 600;
        cursor: pointer;
    }

}

