#reportPage {
  margin: auto;
  position: relative;
  max-width: calc(1200px);
  padding: 0.95rem max(5vw, calc(50vw - 630px));

  button {
    border: none;
  }
  .header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;

    .reportButton {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      padding: 12px 36px;
      background-color: #FFEA79;
      color: black;
      font-size: 18px;
      font-weight: bold;
      border-radius: 4%;
      span {
        margin-left: 0.5em;
      }
    }
  }

  .tutorial {
    height: 115px;
    background-color: #f0f0f0;
    padding: 1px 32px;
    margin: 2em 0;

    h4 {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .editor {
    display: none;
  }
}