#landPage {
    display: flex;
    justify-content: center;
    .Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        .description{
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-top: 5%;
            p {
                color:#000000;
                margin-left: 10%;
                margin-top: 2%;
                font-weight: 691;
            }
        }
        .identity{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height:180px;  
            padding-left: 32px;
            padding-top: 5.5%;
            .IDoption{
                flex:none;
                width: 28%;
                margin: 2%;
                padding-top: 3%;
                background-color: #FFF;
                border: 0.07rem solid #000;
                border-radius: 0.25rem;
            }
            .Iam{
                margin-left: 8%;
                margin-bottom: 5%;
                font-weight: bolder;
                font-size: large;
            }
            .operate{
                margin-left: 8%;
            }
        }
        .WebAnnoList{
            margin-left: 6%;
            font-weight: bold;
            .content{
                display: flex;
                gap: 0.5rem;
                background-color: #FFF;
                border: 0.07rem solid #000;
                margin-bottom: 1.5%;
                .block {
                    padding: 1rem;
                    height: 1.8rem;
                    line-height: 1.8rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    a {
                        color: #000;
                        text-decoration: none;
                        font-size: medium;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .platformFriendlyArea{
            margin-left: 3%;
            .content{
                flex-direction: row;
                .block{
                    margin: 1rem;
                    .body-bold{
                        font-size: large;
                        font-weight: bold;
                    }
                    .body{
                        font-size: medium;
                    }
                }
            }
        }
    }
    
}