#landPage {
    display: flex;
    justify-content: center;
    .Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        .KeyImage{
            display: flex;
            justify-content: center;
            position: relative;
            top: 130px;
            z-index: -3;
        }
        .slogan{
            display: flex;
            justify-content: left;
            position: relative;
            top: -50px;
            right: 12%;
            z-index: -1;
            img{
                max-width: 40%;
            
            }
        }
        .identity{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height:150px;  
            padding-top: 2.5%;
            gap: 2rem;
            margin-left: 2%;
            .IDoption{
                width: 28%;
                padding-top: 3%;
                background-color: #FFF;
                border: 0.07rem solid #000;
                border-radius: 0.25rem;
                cursor: pointer;
                .Iam{
                    margin-left: 8%;
                    margin-bottom: 5%;
                    font-weight: bolder;
                    font-size: large;
                }
                .operate{
                    margin-left: 8%;
                }
            }
        }
        .YegogoGreeting{
            display: flex;
            position: absolute;
            justify-content: right;
            top: 675px;
            right: 2%;
            z-index: 3;
            img {
                max-width: 80%;
            }
        }
        .WebAnnoList{
            margin-left: 6%;
            font-weight: bold;
            .content{
                display: flex;
                gap: 0.5rem;
                background-color: #FFF;
                border: 0.07rem solid #000;
                padding: 1.8rem 1rem;
                .block {
                    padding: 0.5rem;
                    height: 1.8rem;
                    line-height: 1.8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    a {
                        color: #000;
                        text-decoration: none;
                        font-size: medium;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .platformFriendlyArea{
            margin-left: 3%;
            .content{
                flex-direction: row;
                .block{
                    margin-bottom: 3rem;
                    .body-bold{
                        font-size: large;
                        font-weight: bold;
                        line-height: 40px
                    }
                    .body{
                        font-size: medium;
                    }
                }
            }
        }
    }
    
}