#landPage {
    .news{
        display: flex;
        background-color: #B4B4B4;
        height:48px;
        align-items: center;  
        justify-content: left;  
    }
    .newsContent{
        font-size: 15px;
        color: #474141;
        vertical-align:middle;
        margin-left: 5%;
        font-weight: 678;
    }

    .description{
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        height:334px;  
        justify-content: left;  
    }
    .description p {
        color:#000000;
        margin-left: 5%;
        margin-top: 10%;
        font-weight: 691;
    }
    .twoSide{
        display: flex;
        .leftSide{
            flex-grow: 2;
            .WebAnnoList{
                margin-left: 6%;
                width: 87%;
                .content{
                    display: flex;
                    gap: 0.5rem;
                    .block {
                        background-color: #f0f0f0;
                        padding: 1rem;
                        height: 1.8rem;
                        line-height: 1.8rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        a {
                            color: #000;
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        
            .identity{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 92.5%;
                height:180px;  
                padding-left: 32px;
                padding-top: 5.5%;
            }
            .IDoption{
                flex:none;
                width: 28%;
                background-color: #F0F0F0;
                margin: 2%;
                padding-top: 3%;
            }
            .Iam{
                margin-left: 8%;
                margin-bottom: 5%;
                font-weight: bolder;
            }
            .operate{
                margin-left: 8%;
            }
        }
        .rightSide{
            flex-grow: 1;
            margin-right: 5%;
            padding-top: 1.5%;
            .block{
                padding: 1.25rem 1rem;
            }
            
        }
    }
    
}