#navigateBar {
    position: relative;
    width: calc(100% - min(10%, 8rem));
    display: flex;
    padding-left: min(10%, 8rem);
    align-items: center;
    gap: 1.5rem;
    z-index: 10;
    background-color: #f0f0f0;
    label.dropdownMenu {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        height: 3rem;
        width: 8rem;
        line-height: 3rem;
        padding: 0 0.8rem;
        background-color: #cecece;
        text-align: center;
        > * {
            cursor: pointer;
        }
        .dropDown {
            font-size: 1.2rem;
            transition: transform 0.3s;
        }
        input {
            display: none;
        }
        .mask {
            position: absolute;
            top: 100%;
            left: 0%;
            width: 100%;
            background-color: #fff;
            overflow: hidden;
            transition: height 0.3s;
            cursor: default;
            .content {
                > div {
                    transition: background-color 0.3s;
                    p {
                        margin: 0 auto;
                        width: fit-content;
                        color: #949494;
                        cursor: pointer;
                        transition: color 0.3s;
                    }
                }
                > div:has(p:hover) {
                    background-color: #cecece;
                    p {
                        color: #000;
                    }
                }
            }
        }
    }
    label.dropdownMenu:has(input:not(:checked)) {
        .mask {
            height: 0;
        }
        .dropDown {
            transform: rotate(0deg);
        }
    }
    label.dropdownMenu:has(input:checked) {
        .mask {
            height: calc(3rem * var(--length));
        }
        .dropDown {
            transform: rotate(180deg);
        }
    }
}

#navigateBar:has(.loginButton) {
    .logo {
        margin-right: auto;
    }
    .loginButton {
        margin-right: 1.5rem;
        height: 3rem;
        width: 5.5rem;
        text-align: center;
        line-height: 3rem;
        color: #000;
        background-color: #cecece;
        text-decoration: none;
    }
}
