#courseBulletinPage{
    margin: 3em 8em;
    > p{
        font-size:larger;
        font-weight: 600;
    }
    .courseBulletin{
        .courseBulletinContent{
            background-color: #FFFFFF;
            border:solid 1px #474141;
            display: flex;
            flex-direction: row;
            padding: 1em 1em;
            margin: 2em 0em;
            .cb{
                flex-direction: column;
                .cbPin{
                    background-color: #FFEA79;
                    border-radius: 2em;
                    margin-right: 1em;
                    padding: 0.5em 1.5em;
                    font-size: x-small;
                    font-weight: 600;
                }
                .cbContent{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        width: 1.5em;
                        height: 1.5em;
                    }
                    .cbAuther{
                        font-size: medium;
                        font-weight: 600;
                        margin: 0em 0.5em ;
                    }
                    .cbTime {
                        font-size: 15px;
                        margin: 0em 0em ;
                        font-weight: 200;
                    }   
                                
                }
                .cbInfor{
                    font-size: large;
                    font-weight: 400;
                    margin-bottom: 0em;
                }
        
            }
            
        }

    }
}