.web-announcement-container {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    max-width: calc(1200px);
    padding: 0.95rem max(5vw, calc(50vw - 570px));
  
    .breadcrumbs {
      font-size: 1.0rem;
      margin-bottom: 10px;
    }
  
    .web-announcement-header {
      padding: 10px 15px;
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
        font-size: 1.8rem;
        color: #333;
      }
    }
    .announcement-details {
        width: 1232px;
        height: 246px;
        background-color: #ffffff;
        border: 0.1rem solid #000;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        
    }

    .announcement-list {
        height: 30em;
        margin: 2em 3em;
        background-color: #ffffff;
        border: 0.1rem solid #000;
        border-radius: 8px;
        padding: 20px;

        .list-header {
          gap: 1rem;
          width: calc(100% - 2rem);
          align-items: center;
          height: 1.8rem;
          line-height: 1.8rem;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          background-color: #ffffff;
          span {
            font-weight: bold;
            font-size: larger;
            width:30%;
          }
        }
        
        a {
          color: #000;
          text-decoration: none;
          transition: color 0.3s;
          
      }

      a:hover {
          color: #000;
      }
  }     
        
        .list-item {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          gap: 1rem;
          width: calc(100% - 2rem);
          align-items: center;
          height: 1.8rem;
          line-height: 1.8rem;
          span {
            width: 30%;
            font-size: large;
          }
          .pin {
            opacity: 0%;
            display: flex;
            justify-content: center;
            font-size: medium;
            padding: 0.5em;
            background-color: #FFEA79;
            line-height: 1.25em;
            border-radius: 100vw;
        }

        .pin[data-pin=true] {
            opacity: 100%;
        }
        }
      }
.testdiv {
  display: flex;
  width: 100%;
}


  
  