.platformFriendlyArea {
    h2 {
        white-space: nowrap;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .block {
            color: #000;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            padding: 1.25rem 2rem;
            background-color: #f0f0f0;
            gap: 0.8rem;
            > div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}