.platformFriendlyArea {
    h2 {
        white-space: nowrap;
        margin: 0.8em 1em;
    }

    .content {
        display: flex;
        justify-content: space-between;
        
        .block {
            color: #000;
            text-decoration: none;
            padding: 1.25rem 1.3rem;
            background-color: #FFF;
            gap: 0.8rem;
            width: calc(25% - 4rem);
            border: 0.07rem solid #000;
            border-radius: 0.25rem;
            min-height: 8em;
            
            >div {
                width: 100%;
                overflow: hidden;
                white-space: normal;
                word-break: break-all;
            }
        }
    }
}