#mainPage {
    margin: auto;
    max-width: 90vw;

    .main {

        .list-item {
            display: flex;
 

            .date {
                width: 30%;
                font-size: 0.875rem;
            }
        
            .pin-status {
                opacity: 0%;
                background-color: #FFEA79;
                height: 1.25em;
                line-height: 1.25em;
                padding: 0.5em 1em;
                border-radius: 100vw;
            }
        
            .title {
                width: 50%;
            }
        }

        }
        h2 {
            margin: 1.25em 0;
            user-select: none;
        }

        >div {
            margin-bottom: 2.5rem;
        }

        .content {
            display: flex;

            .block {
                padding: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                a {
                    color: #000;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .currentCourse {
            .content {
                flex-wrap: wrap;
                justify-content:space-between;
                .block {
                    margin-bottom: 1.5em;
                    width: calc(30% - 1rem);
                    background-color: #FFF;
                    border: 0.05rem solid #000;
                    border-radius: 0.25rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .infoBar {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        > div {
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                            width: calc(50% - 0.25rem);
                            max-width: 9em;
                            svg {
                                min-width: 1.5em;
                            }
                            span {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
        .seeMore {
            margin: 1rem;
            display: flex;
            justify-content: right;
    
            a {
                color: #000;
                text-decoration: none;
                transition: color 0.3s;
                background-color: #E1E1E4;
                padding: 0.25em 1em;
            }
    
            a:hover {
                color: #000;
            }
        }
    }
