#mainPage {
    margin: auto;
    max-width: 90vw;

    .main {
        h2 {
            margin: 1.25em 0;
            user-select: none;
        }

        >div {
            margin-bottom: 2.5rem;
        }

        .content {
            display: flex;

            .block {
                padding: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                a {
                    color: #000;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .currentCourse {
            .content {
                flex-wrap: wrap;
                justify-content:space-between;
                .block {
                    width: calc(30% - 1rem);
                    background-color: #FFF;
                    border: 0.05rem solid #000;
                    border-radius: 0.25rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .infoBar {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        > div {
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                            width: calc(50% - 0.25rem);
                            max-width: 9em;
                            svg {
                                min-width: 1.5em;
                            }
                            span {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
}