#notificationPage {
  margin: 2rem auto;
  max-width: 90rem;
  display: flex;
  justify-content: space-between;

  .detail-panel {
    width: 55%;
    background-color: #e5e5e5;
    padding: 2rem;
    
    h2 {
      margin: 0;
      font-weight: normal;
    }
    h1 {
      margin: 10px 0;
    }
    p {
      font-size: 18px;
    }
  }
}