#sideBar {
    position: relative;
    background-color: #FFEA79;
    width: 9rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    > div.ms {
        position: relative;
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
        text-align: center;
    }
    > div.ms::before,
    > div.ms::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: bold;
        transition: transform 0.3s;
        cursor: pointer;
    }
    > div.ms::before {
        content: "menu";
    }
    > div.ms::after {
        content: "close";
    }
    input {
        display: none;
    }

    .mask {
        position: absolute;
        top: 100%;
        right: 0;
        overflow: hidden;
        pointer-events: none;
        border-bottom-left-radius: 100%;
        transition: height 0.5s, width 0.5s;
        .content {
            position: absolute;
            top: 0;
            right: 0;
            width: 11rem;
            max-height: min(calc(80vh - 8.5rem), 40rem);
            overflow-y: auto;
            padding: 1.5rem 2rem 1.5rem 1.5rem;
            pointer-events: initial;
            background-color: #FFEA79;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .subTitle {
                margin-top: 1rem;
            }
            > div:not(.toolBox) a {
                color: #000;
                text-decoration: none;
            }
            > div:not(.toolBox) a:hover {
                text-decoration: underline;
            }
            .personalHomepage {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                    object-fit: cover; 
                }
            }
            .toolBox {
                margin-top: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0.3rem;
                > * {
                    color: #474141;
                    text-decoration: none;
                    transition: color 0.3s;
                }
                > *:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
    }
}

#sideBar:has(input:not(:checked)) {
    > div.ms::before {
        transform: rotate(0deg) scale(1);
    }
    > div.ms::after {
        transform: rotate(-90deg) scale(0);
    }
    .mask {
        height: 0;
        width: 0;
    }
}

#sideBar:has(input:checked) {
    > div.ms::before {
        transform: rotate(90deg) scale(0);
    }
    > div.ms::after {
        transform: rotate(0deg) scale(1);
    }
    .mask {
        width: min(calc(80vh - 3.5rem), 45rem);
        height: min(calc(80vh - 3.5rem), 45rem);
    }
}
