#courseForum{
    position: relative;
    max-width: calc(1200px);
    padding: 0.95rem max(5vw, calc(50vw - 570px));

    .titleInfor{
        display: flex;
        margin: 2.5em 0em;
        h2{
            margin:0rem 0rem;
            margin-right: 3rem;
            align-self: center;
        }
        div , a{
            margin-right: 2rem;
            cursor: pointer;
            background-color: #f0f0f0;
            padding: 0.8em 1.5em;
            text-decoration: none;
            color: black;
            .cfIcon{
                margin-left: 0.5em;
            }
        }
    }

    .forumCategory{
        display: flex;
        justify-content: space-around;
        margin: 3em;
        white-space: nowrap;
        div{
            cursor: pointer;
            font-size: large;
            font-weight: 600;
        }
    }

}