#notificationDisplayer {
  width: 55%;
  padding: 2rem;
  border: 1px #474141 solid;
  border-radius: 5px;
  background-color: white;
  
  h2 {
    margin: 0;
    font-weight: normal;
  }
  h1 {
    margin: 10px 0;
  }
  div {
    height: 100%;
    
    p {
      font-size: 18px;
      padding: 20px 10px;
      border-radius: 10px;
      background-color: #f0f0f0;
    }
  }
}