#courseMemberPage{
    margin: 4em 4em;
    button {
        cursor: pointer;
        padding: 1em 1em;
        background-color: #FFEA79;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 0.3em;
        margin-bottom: 2em;
    }
    .courseMember{
        padding: 0.5em 2em;
        background-color: #FFFFFF;
        border: 0.1rem solid #000;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dropdownkey{
                background-color: #FFFFFF;
                border: solid 1.5px #949494;
                border-radius: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                color: #474141;
                vertical-align: middle;
                padding: 0.5em 1em;
                margin-bottom: 25px;
                .material-symbols-outlined{
                    display: inline-block;
                    font-size: 25px;
                    padding-top: 5px;
                    padding-left: 5px;
                    cursor: pointer;
                }
            }

        }
        .courseMemberTab{
            display: flex;
            justify-content: space-between;
            p{ 
                font-size: large;
                width: calc(100% / 5);
                font-weight: 600;
            }
        }
        .courseMemberContent{
            cursor: pointer;
            display: flex;
            align-items: center;
            p{
                font-size: medium;
                width: calc(100% / 5);
            };
            img{
                width: 40px;
                height: 40px;
                object-fit: cover; 
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 7px;
            }
        }
        .courseMemberContent:hover{
            background-color: #f5f5f5;
        }
        .memberWindow{
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
            flex-direction: column;
            pointer-events: none;
            position: fixed ;
            z-index: 9999;
            right: 17%;
            bottom: 16%;
            width: 60%;
            opacity: 0%;
            height: 67%;
            padding-left: 3%;
            display: flex;
            transition: opacity 0.5s;
            background-color: #FFFFFF;
            cursor: auto;
            .closeWindow{
                display: block;
                position: absolute;
                right: 0;
                padding: 5px;
                height:35px;
                width: 35px;
                color: #474141;
                line-height: 52px;
                cursor: pointer;
                .material-symbols-outlined{
                    font-weight: bold;
                    font-size: 30px;
                }
            }
            .windowSet{
                display: flex;
                .leftWindow{
                    width: 30%;
                    padding-left: 5%;
                    margin-top: 2%;
                    .selectAvatar{
                        display: flex;
                    }
                    .OtherInfo{
                        display: flex;
                        margin-top:7%;
                        text-align: center;
                        .OtherInfoTag{
                            background-color: #FFEA79;
                            border-radius: 20px;
                            padding: 3%; 
                            height: 20px;
                            width: 45px;
                            text-align: center;
                            margin-right: 5%;
                        }
                        .OtherInfoContent{
                            padding: 2%; 
                            height: 20px;
                        }
                    }
                    img{
                        width: 150px;
                        height: 150px;
                        object-fit: cover; 
                        border-radius: 50%;
                    }
                    .memberMail{
                        margin-top:6%;
                        margin-left: 3px;
                    }
                }
                .rightWindow{
                    line-height: 20px;
                    width: 70%;
                    margin-left: 10px;
                    margin-top: 2%;
                    .memberName{
                        text-align: left;
                        padding-bottom: 10px;
                        font-weight: bold;
                        font-size: 28px;
                        color: #000000;
                    }
                    .memberIntro{
                        display: flex;
                        margin-top:7%;
                        text-align: center;
                        flex-direction: column;
                        .memberIntroTag{
                            background-color: #FFEA79;
                            border-radius: 20px;
                            padding: 2%; 
                            height: 20px;
                            width: 20%;
                            text-align: center;
                            margin-right: 5%;
                            margin-bottom: 3%;
                        }
                        .memberIntroContent{
                            overflow: scroll;
                            text-align: left;
                            padding: 3%;
                            height: 130px;
                        }
                    }
                }
            }
            
        }
        .memberWindow[data-show="true"]{
            opacity: 100%;
            pointer-events: initial;
        }

    }

}