#discussionTopicPage {
  margin: 3em 0;
  position: relative;
  max-width: calc(1200px);
  padding: 0.95rem max(5vw, calc(50vw - 570px));

  button {
    border: none;
  }
  .header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;

    button {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      padding: 12px 36px;
      background-color: #FFEA79;
      color: black;
      font-size: 18px;
      font-weight: bold;
      border-radius: 4%;
      span {
        margin-left: 0.5em;
      }
    }
  }

  .tutorial {
    height: 115px;
    background-color: #f0f0f0;
    padding: 1px 32px;
    margin: 2em 0;

    h4 {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .discussionTopic{
    background-color: #FFFFFF;
    border: 0.1rem solid #000;
    padding: 1em 2em;
    margin: 3em 0em; 
    .discussionTopicTab{
        display: flex;
        flex-direction: row;
        .title{
          width: 60%;
        }
        .launch{
          width: 20%;
          > button {
            cursor: pointer;
            background-color: #FFFFFF;
            border: none;
            color: #949494;
            font-size: 20px;
          }
        }
        .reply{
          width: 15%;
          text-align: center;
        }
        .follow{
          width: 10%;
          text-align: center;
        }
        > p{
          margin: 0.5em 0em;
          font-size: 20px;
          font-weight: 600;
          white-space: nowrap;
        }
    }
    .discussionTopicList{
      display: flex;
      align-items: center;
      .title{
        cursor: pointer;
        width: 60%;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          text-decoration: underline;
        }

      }
      .launch{
        width: 20%;
      }
      .reply{
        width: 15%;
        text-align: center;
      }
      .follow{
        width: 10%;
        text-align: center;
        cursor: pointer;
        background-color: #FFFFFF;
        border: none;
        font-size: 18px;
      }
      > p{
          font-size: 18px;
          white-space: nowrap;
      }
    }
  }

  .editor {
    display: none;
  }
}