#notification {
  box-sizing: border-box;
  color: #474141;
  border-radius: 0.5rem;
  text-decoration: none;
  
  button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    .left {
      display: flex;
      align-items: center;
  
      img {
        width: 35px;
        height: 35px;
        margin-right: 1rem;
      }
    }
    .detail {
      text-align: left;
      h1 {
        font-size: 16px;
        line-height: 18px;
      }
      h2{
        font-size: 14px;
        line-height: 16px;
      }
      p {
        font-size: 10px;
        line-height: 12px;
        color: #949494;
      }
    }
    .circle-sign {
      color: #4B67C9;
      margin-right: 3rem;
    }
  }
  
  button:hover {
    box-shadow: 0 5px 10px -3px rgb(198, 189, 189);
  }
}