.webAnnouncement {
    h2 {
        margin: 1.25em 1.2em;
        user-select: none;
    }

    .content {
        flex-direction: column;
        gap: 0.5rem;

        .block {
            display: flex;
            gap: 1rem;
            width: calc(100% - 2rem);
            align-items: center;
            height: 1.8rem;
            line-height: 1.8rem;

            .pin {
                opacity: 0%;
                background-color: #FFEA79;
                height: 1.25em;
                line-height: 1.25em;
                padding: 0.5em 1em;
                border-radius: 100vw;
            }

            .pin[data-pin=true] {
                opacity: 100%;
            }
        }
        .seeMore {
            margin: 1rem;
            display: flex;
            justify-content: right;
    
            a {
                color: #000;
                text-decoration: none;
                transition: color 0.3s;
                background-color: #E1E1E4;
                padding: 0.25em 1em;
            }
    
            a:hover {
                color: #000;
            }
        }
    }

    
}