#loginPage {

  position: relative;
  max-width: calc(1200px);
  padding: 3rem max(5vw, calc(50vw - 570px));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    .rightBlock{
      width: 25%;
      padding: 1em 2em;
      display: flex;
      flex-direction: column;

      > p {
        font-size: 10px;
        padding-bottom: 0.5em;
      }
  
      textarea{
        border-radius: 0.2em;
        width: calc(100% - 1em);
        height: 2em;
        border: 0; 
        font-size: large;
        resize : none; 
        outline: none;
        border: solid;
        border-color: #F7F7F7;
        margin-bottom: 1em;
        line-height: 2em;
        padding-left: 1em;
      }
  
      .rightBlockMiddle{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        p{
          margin: 0em 0em;
          cursor: pointer;
        }
      }
  
      .rightBlockButton{
        border-radius: 0.2em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0.3em 1em;
        font-weight: 600;
        margin: 1em 0em;
      }
  
      > p{
        font-size: 15px;
        margin: 0em 0em;
      }
  
    }
  

  
}
