#loginPage {

  position: relative;
  max-width: calc(1200px);
  padding: 3rem max(5vw, calc(50vw - 570px));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    .rightBlock{
      width: 25%;
      padding: 1em 2em;
      display: flex;
      flex-direction: column;

      > p {
        font-size: 10px;
        padding-bottom: 0.5em;
      }
  
      textarea{
        border-radius: 0.2em;
        width: calc(100% - 1em);
        height: 2em;
        border: 0; 
        font-size: large;
        resize : none; 
        outline: none;
        border: solid;
        border-color: #F7F7F7;
        margin-bottom: 1em;
        line-height: 2em;
        padding-left: 1em;
      }
  
      .rightBlockMiddle{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        p{
          margin: 0em 0em;
          cursor: pointer;
        }
      }
  
      .rightBlockButton{
        border-radius: 0.2em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0.3em 1em;
        font-weight: 600;
        margin: 1em 0em;
      }
  
      > p{
        font-size: 15px;
        margin: 0em 0em;
      }
  
    }

    .selectedWork{
      position: fixed;
      pointer-events: none;
      left: 20%; 
      top: 15%; 
      width: 60%; 
      height: 70%; 
      opacity: 0%;
      background-color: #FFF;
      transition: opacity 0.5s;
      display: flex;
      padding: 3em 4em;
      box-sizing: border-box;
      h2{
        margin-top: 0em;
      }
      button{
        cursor: pointer;
        display: flex;
        align-self: end;
        background-color: #FFEA79;
        padding: 1em 1em;
        border-radius: 0.3em;
        border-width: 0em;
        p{
          font-size: medium;
          font-weight: 600;
          margin: 0em;
        }
      }
      .page1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
          width: 10em;
          height: 10em;
          margin-top: 6em;
          margin-left: 1em;
        }
        .intro{
          position: absolute;
          top: 30%;
          left: 25%;
          background-color: rgba(255, 234, 121, 0.42);
          .title{
            font-size: larger;
            font-weight: 600;
          }
          padding: 0.5em 2em;
          border-radius: 1em;
        }
      }
      .page2{
        width: 100%;
        display: flex;
        flex-direction: column;
        .intro{
          display: flex;
          flex-direction: row;
          margin-bottom: 1.5em;
          img{
            width: 4em;
            height: 4em;
            margin-right: 2em;
          }
          p{
            align-content: center;
          }
        }
        textarea{
          background-color: #F7F7F7;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          resize: none;
          margin-bottom: 1.5em;
          padding: 2em ;
          font-size: 16px;
        }

      }
      .page3{
        width: 100%;
        h2{
          margin-bottom: 0.5em;
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .character{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            .hoverEffect{
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0em 1em;
              border-radius: 0.5em;
              .name{
                font-size: larger;
                font-weight: 600;
                margin-bottom: 0em;
              }
              .intro{
                width: 12em;
              }
              
            }
            img{
              width: 12em;
              height: 12em;
            }
            
          }
          .character:hover , .character.selected{
            img{
              transform: translateY(1em) ;
              transition-duration: 0.3s;
            }
            .hoverEffect{
              background-color: #FFEA79;
              .intro{
                transform: translateY(-0.6em) ;
                transition-duration: 0.3s;
              }
            }
          }

        }
        .button{
          margin-top: 1.5em;
          justify-content: end;
          button{
            margin-left: 2em;
          }
        }
      }


  }

  .selectedWork[data-show="true"] {
      pointer-events: initial;
      opacity: 100%;
  }
  

  
}
