#courseMaterialPage {
    display: flex;
    gap: 1rem;
    min-height: calc(100vh - 5.5rem - 9.9rem - 15.5rem - 4rem);
    margin-bottom: 4rem;

    .side {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;

        button {
            outline: none;
            border: none;
            text-align: center;
            padding: 0.75rem 1.25rem;
            user-select: none;
            cursor: pointer;
            font-size: inherit;
        }

        button.edit {
            background-color: #FFEA79;
        }

        button.newTheme {
            background-color: transparent;
        }

        .theme {
            position: relative;
            color: #949494;
            transition: color 0.3s;
            cursor: pointer;
            user-select: none;
            order: var(--order);
        }

        .theme[data-select="true"],
        .theme:hover {
            color: #000;
        }
    }

    .main {
        flex: 8;

        h2 {
            margin: 0;
            height: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }

        .materialBlock {
            background-color: #f5f5f5;
            min-height: calc(100% - 7.5rem);
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1rem;
            overflow: hidden;
            justify-content: space-between;

            .materials {
                min-height: calc(100% - 3.5rem);
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                .material {
                    position: relative;
                    margin-left: 2rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    width: min-content;
                    user-select: none;
                    cursor: pointer;
                    order: var(--order);

                    .background {
                        display: none;
                    }
                }

                .material::before,
                .material::after {
                    position: absolute;
                    top: 0;
                    left: -2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;
                    text-align: center;
                    font-family: "Material Symbols Outlined";
                    font-size: 1.3em;
                    transition: transform 0.3s;
                }

                .material::before {
                    content: "check_box_outline_blank";
                    transform: scale(1);
                }

                .material::after {
                    content: "check";
                    transform: scale(0);
                }

                .material[data-select="true"]::before {
                    transform: scale(0);
                }

                .material[data-select="true"]::after {
                    transform: scale(1);
                }
            }

            button {
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 2.5rem;
                width: 6rem;
                border: none;
                outline: none;
                user-select: none;
                cursor: pointer;
                background-color: #cecece;
            }
        }
    }
}

#courseMaterialPage[data-edit=true] {
    .side {
        .theme {
            padding-left: 1.5em;
        }

        .theme::before {
            content: "menu";
            position: absolute;
            top: calc(50% - 0.6em);
            left: 0;
            font-family: "Material Symbols Outlined";
            user-select: none;
        }

        .theme[data-ondrag=true] {
            span {
                opacity: 0;
            }
        }

        .theme[data-ondrag=true]::before {
            display: none;
        }

        .theme[data-ondrag=true]::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-color: #D9D9D9;
        }

    }

    .main {
        .material[data-ondrag=true] {
            span {
                opacity: 0%;
            }

            .background {
                display: block;
                position: absolute;
                height: 100%;
                width: calc(100% + 2rem);
                top: 0;
                left: -2rem;
                background-color: #D9D9D9;
            }
        }

        .material::before,
        .material::after {
            content: "menu" !important;
        }

        .material[data-ondrag=true]::before,
        .material[data-ondrag=true]::after {
            display: none;
        }
    }
}