#courseMaterialPage {
    display: flex;
    gap: 1rem;
    min-height: calc(100vh - 5.5rem - 9.9rem - 15.5rem - 4rem);
    margin-bottom: 4rem;

    .sideBar {
        min-width: 10em;
        flex: 1;
    }

    .block {
        flex: 8;
    }
}